http:
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
  routers:
    traefik:
      rule: "Host(`${TRAEFIK_DOMAIN}`)"
      entryPoints:
        - websecure
      service: api@internal
