log:
  level: INFO
api:
  dashboard: true
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
providers:
  docker:
    swarmMode: true
    exposedByDefault: false
    endpoint: "unix:///var/run/docker.sock"
