services:
  backend:
    build:
      context: .
      dockerfile: infra/docker/backend.Dockerfile
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_SERVER=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_DB=uhub
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=root # Inject Root token for Dev (AppRole in Prod)
      - SECRET_KEY=dev_secret_key_injected_via_compose
    volumes:
      - ./docs:/docs
      - ./backend/app:/app/app
    depends_on:
      - postgres
      - vault

  frontend:
    build:
      context: .
      dockerfile: infra/docker/frontend.Dockerfile
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "5173:5173"
    user: root
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  gateway:
    build:
      context: .
      dockerfile: infra/docker/gateway.Dockerfile
    ports:
      - "8080:8080"
      - "8443:8443"
    depends_on:
      - frontend
      - backend

  postgres:
    image: postgres:16-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_DB=uhub
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"

  vault:
    build:
      context: .
      dockerfile: infra/docker/vault.Dockerfile
    ports:
      - "8300:8200"
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=root
      - VAULT_ADDR=http://127.0.0.1:8200
    cap_add:
      - IPC_LOCK
    command: vault server -dev -dev-listen-address="0.0.0.0:8200"

volumes:
  postgres_data:
