---
- hosts: db
  become: yes
  tasks:
    - name: Installer MariaDB server
      apt:
        name:
          - mariadb-server
          - mariadb-client
          - python3-pymysql
        state: present
        update_cache: yes

    - name: Démarrer et activer MariaDB
      systemd:
        name: mariadb
        state: started
        enabled: yes

    - name: Configurer MariaDB pour écouter sur toutes les interfaces
      lineinfile:
        path: /etc/mysql/mariadb.conf.d/50-server.cnf
        regexp: '^bind-address'
        line: 'bind-address = 0.0.0.0'
        backup: yes
      register: mariadb_config
      
    - name: Redémarrer MariaDB après changement de config
      systemd:
        name: mariadb
        state: restarted
      when: mariadb_config.changed

    - name: Copier le script d'initialisation SQL
      copy:
        src: ../../config/mariadb/init.sql
        dest: /tmp/init.sql

    - name: Exécuter le script d'initialisation SQL (initialise DB et users)
      shell: mysql -u root -p'{{ db_root_password | default('ChangeMeRoot') }}' < /tmp/init.sql
      changed_when: false
      ignore_errors: yes
